/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

/* BREAKPOINT VISIBILITY */
.visible-desktop { display: block; }
.visible-tablet { display: none; }
.visible-phone { display: none; }

.hidden-desktop { display: none; }
.hidden-tablet { display: block; }
.hidden-phone { display: block; }

/* ACCOUNT */
#region-content #user-register-form > div {
  width: 70%;
}

#region-content #user-login > div,
#region-content #user-pass > div {
  width: 70%;
}

/* CONTACT */
#region-content #contact-site-form > div {
  width: 70%;
}