/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
h6.site-slogan {
  font-size: 34px;
  line-height: 60px;
}

/* HEADER */
#section-header {
	
}
#zone-header-wrapper {
	-webkit-box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.4);
  box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.4);
}
#zone-header {
   border-bottom: none;
}
#region-branding {
	text-align: right;
  padding-top: 0;
}
#region-branding .region-inner .logo-img {
  width: 1%;
}
#region-branding .logo-img img {
	margin-bottom: 0;
	height: 60px;
	width: auto;
  padding: 0 0.75em;
}

#region-branding,
#region-header-first {
	float: right;
}

/* REGISTRATION */
#user-register-form {
	
}
#user-register-form input,
#user-register-form select {
	width: 50%;
}
#user-register-form input[type=checkbox] {
	width: auto;
}

/* REGIONS/ZONES */
#zone-header {
  
}
#region-menu {

}
#region-menu ul.megamenu-skin-angs {

}
#region-menu ul.megamenu-skin-angs li {
  border-right: solid 1px #313131;
  display: inline-block;
  padding: 0;
  margin: 0;
}
#region-menu ul.megamenu-skin-angs li.last {
  border-right: none;
}
#region-menu ul.megamenu-skin-angs li a {
  color: #FFF;
  text-decoration: none;
  display: inline-block;
}
#region-menu ul.megamenu-skin-angs li a.active {
}
#region-menu ul.megamenu-skin-angs li a:hover,
#region-menu ul.megamenu-skin-angs li a:focus,
#region-menu ul.megamenu-skin-angs li a:active {
  
}
#region-menu ul.megamenu-skin-angs li > span {
  display: inline-block;
  padding: 0 1em;
  color: #FFF;
  line-height: 60px;
}
#region-menu ul.megamenu-skin-angs li > span:hover {
  background-color: #313131;
  cursor: pointer;
}
#region-menu ul.megamenu-skin-angs li ul.megamenu-bin {
	padding: 0;
	background: url(../images/dropdown-BG.png) repeat center center transparent;
}
#region-menu ul.megamenu-skin-angs li ul.megamenu-bin li {
	border-bottom: solid 1px #FFF;
}
#region-menu ul.megamenu-skin-angs li ul.megamenu-bin li > span {
	display: block;
	line-height: 38px;
}

#region-branding {
  text-align: right;
}
#region-branding .logo-img {
	float: none;
	margin: 0;
	padding: 0;
}

#zone-hero {

}
#zone-hero h1,
#zone-hero h2,
#zone-hero h3 {

}
#zone-hero h2 {
  font-size: 2.75em;
  line-height: 1em;
  margin: 0.25em 0;
}
body.members #zone-hero h2 {
  text-align: right;
}
#zone-hero h3 {
  font-size: 1.2em;
  margin: 0.5em 0 0;
}
#zone-hero .view {
  text-align: center;
}

#zone-preface {

}
#region-preface-first {

}
#region-preface-second {

}
#region-preface-third {

}
#region-preface-fourth {

}

#section-content {

}
body.members #section-content {
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 50%, #f3f3e9 50%);
  background: -webkit-linear-gradient(left, #ffffff 50%,#f3f3e9 50%);
  background: linear-gradient(to right, #ffffff 50%,#f3f3e9 50%); 
}
#zone-content {
  background: #f3f3e9;
}
#region-content {
  
}
#region-content .region-content-inner {
  padding: 1em 0;
}

#region-content .next-event-calendar {
  margin-bottom: 2em;
}
#region-content .next-event-calendar .next-title {
  margin-bottom: 0.25em;
}
#region-content .next-event-calendar .next-content {
  display: table;
  width: 100%;
}
#region-content .next-event-calendar .next-info {
  display: table-cell;
  vertical-align: top;
  width: 75%;
}
#region-content .next-event-calendar .next-calendar {
  display: table-cell;
  vertical-align: top;
  width: 25%;
}
#region-content .next-event-calendar .next-calendar .calendar-output {
  max-width: none;
}
#region-content .next-event-calendar .next-calendar .calendar-output span:first-child {
  font-size: 12pt;
  line-height: 22pt;
}
#region-content .next-event-calendar .next-calendar .calendar-output span:last-child {
  font-size: 34pt;
  line-height: 48pt;
}

#region-content .view-events {

}
#region-content .view-events table {

}
#region-content .view-events table th {
  width: 25%;
}
#region-content .view-events table tr th.date,
#region-content .view-events table tr th.format {
  width: 12.5%;
}
#region-content .view-events table tr {

}
#region-content .view-events table tr td {
  
}

#region-sidebar-first {
  background: #FFF;
  -webkit-box-shadow:inset -5px 0 25px -15px #000000;
  box-shadow:inset -5px 0 25px -15px #000000;
  margin-left: 0;
  padding-left: 10px;
}
#region-sidebar-first ul {
  margin-top: 5em;
}
#region-sidebar-first ul li {

}
#region-sidebar-first ul li a {
  padding: 0.5em 0 0.5em 1.75em;
  background-image: none;
  position: relative;
}
#region-sidebar-first ul li a.active {
  color: #33b7a0;
}
#region-sidebar-first ul li a.active:before {
  position: absolute;
  content: "";
  right: 0;
  width: 0px;
  height: 0px;
  margin-top: -5px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 20px solid #f3f3e9;
}
#region-sidebar-second {

}

#zone-parallax {

}
#zone-parallax .block {
  
}
#zone-parallax h2 {
  
}
#zone-parallax .apply {
  
}
#zone-parallax .apply a {
  
}

#zone-postscript {
	padding: 1em 0;
}
#region-postscript-first {

}
#region-postscript-second {

}
#region-postscript-third {

}

#zone-footer {
  padding: 1em 0;
}
#zone-footer h2 {
  margin-bottom: 0.75em;
}
#zone-footer #block-search-form h2 {
  margin-bottom: 1em;
}
#zone-footer #search-block-form .container-inline {
  width: 90%;
  margin: 0 10% 0 0;
}
#zone-footer .block,
#zone-footer .block a, 
#zone-footer .block p {
  text-align: left;
}
#zone-footer ul li {
  text-align: left;
}
#zone-footer ul li a {

}
#zone-footer .block .view-member-list span {
  text-align: left;
}

#zone-footer .region {
  margin-bottom: 0;
}

#zone-content-wrapper,
#zone-content,
#zone-content > * {
  height: 100%;
}

.frontpage #zone-content-wrapper,
.frontpage #zone-content,
.frontpage #zone-content > * {
  height: auto;
}

/* STICKY FOOTER */
html, body { height: 100%; margin: 0; }
#page { display: table; width: 100%; }
html > body #page { height: 100%; }
*:first-child+html #page { height: auto; }
.section { display: table-row; }
html > body .section-content { height: 100%; }
*:first-child+html body .section-content { height: auto; }