/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

/* BREAKPOINT VISIBILITY */
.visible-desktop { display: none; }
.visible-tablet { display: block; }
.visible-phone { display: none; }

.hidden-desktop { display: block; }
.hidden-tablet { display: none; }
.hidden-phone { display: block; }

#region-menu ul.megamenu-skin-angs li > span {
    padding: 0 0.75em;
}

 /* ACCOUNT */
#region-content #user-register-form > div {
  width: 62%;
}

#region-content #user-login > div,
#region-content #user-pass > div {
  width: 62%;
}

/* CONTACT */
#region-content #contact-site-form > div {
  width: 62%;
}